<phpunit bootstrap="unittest/bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnFailure="false">
	<testsuite name="Testsuite for library jamwork">
		<directory>unittest/jamwork</directory>
	</testsuite>
</phpunit>
